<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Game</title>
</head>
<body>
    <div class="content">
        <h1>Welcome, {{ session['name'] }}</h1>
        <button onclick="drawCard()">Draw Card</button>
        <button onclick="shuffleDeck()">Reshuffle</button>
        
        <h3>My Cards:</h3>
        <div id="myCardsCarousel">
            <button onclick="previousCard()">&#10094;</button> <!-- Left arrow for previous card -->
            <img id="cardCarouselImage" src="" alt="Card image" class="card-image"> <!-- Image container for the cards -->
            <button onclick="nextCard()">&#10095;</button> <!-- Right arrow for next card -->
        </div>
    </div>

    <script>
        // ... Your existing script code ...

        // Add global variable to track the current index
        let currentCardIndex = 0;
        let myCards = [];

        function drawCard() {
            fetchAPI('/draw').then(data => {
                if (data.card_img_url) {
                    myCards.push(data.card_img_url); // Add the new card URL to the array
                    currentCardIndex = myCards.length - 1; // Set the index to the new card
                    updateCardDisplay(); // Update the card display
                }
            });
        }

        function shuffleDeck() {
            fetchAPI('/shuffle').then(data => {
                alert(data.message);
                myCards = []; // Clear the cards array
                currentCardIndex = 0; // Reset the index
                updateCardDisplay(); // Update the card display
            });
        }

        function previousCard() {
            if(currentCardIndex > 0) {
                currentCardIndex--; // Decrement the index to show the previous card
                updateCardDisplay(); // Update the card display
            }
        }

        function nextCard() {
            if(currentCardIndex < myCards.length - 1) {
                currentCardIndex++; // Increment the index to show the next card
                updateCardDisplay(); // Update the card display
            }
        }

        function updateCardDisplay() {
            const cardImageElement = document.getElementById('cardCarouselImage');
            if (myCards.length > 0 && myCards[currentCardIndex]) {
                cardImageElement.src = myCards[currentCardIndex]; // Update the src of the image element
                cardImageElement.style.display = ''; // Make sure the image is displayed
            } else {
                cardImageElement.style.display = 'none'; // Hide the image element if there are no cards
            }
        }


        // Initial call to update card display on page load
        updateCardDisplay();

    </script>
</body>
</html>
